<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include template/head.ejs%>
	<link rel="stylesheet" href="css/main1.css">
	
</head>

<body>
	<% include template/header.ejs%>


	<!-- Start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container box_1170">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Ticket Service Page
					</h1>
					<p class="text-white link-nav"><a href="news">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="ticket">
							Ticket Service</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start main body Area -->
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head1">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column14">SUE St. Petersburg Metropoliten</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody class="row100 body">
								<% for (var k = 0;  k < contact.length; k++){ %>
									<tr>
		  								<td class="cell100 column11"><%= contact[k].classname %></td>
		  								<td class="cell100 column12"><%= contact[k].info %></td>
		  							</tr>
	  							<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<% include template/footer.ejs%>
	<% include template/jsdefault.ejs%>
	
</body>

</html>