<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include template/head.ejs%>
	<link rel="stylesheet" href="css/main1.css">
	
</head>

<body>
	<% include template/header.ejs%>


	<!-- Start banner Area -->
	<section class="banner-area relative">
		<div class="overlay overlay-bg"></div>
		<div class="container box_1170">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Passenger Information Page
					</h1>
					<p class="text-white link-nav"><a href="news">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="information">
							Passenger Information</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start main body Area -->
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">No</th>
									<th class="cell100 column2">Indicator</th>
									<th class="cell100 column3">Units</th>
									<th class="cell100 column4">Value</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody class="row100 body">
								<% for (var k = 0;  k < infor.length; k++){ %>
									<tr>
		  								<td class="cell100 column1"><%= k + 1 %></td>
		  								<td class="cell100 column2"><%= infor[k].indicator %></td>
		  								<td class="cell100 column3"><%= infor[k].units %></td>
		  								<td class="cell100 column4"><%= infor[k].value %></td>
		  							</tr>
	  							<% } %>
							</tbody>
						</table>
					</div>

					<p> The shortest distance between stations: Vladimirskaya and Ploschad Vosstaniya (848 m). </p>
					<p> The longest distance between stations: Obukhovo - Rybatskoe (3620 m).</p>
					<p>Deepest station: Admiralteyskaya (~ 86 m).</p>

				</div>
			</div>
		</div>
	</div>

	
	
	<% include template/footer.ejs%>
	<% include template/jsdefault.ejs%>
	
</body>

</html>