<div class="col-lg-4 sidebar">
					<div class="single-widget search-widget">
						<form class="example" action="#" style="margin:auto;max-width:300px">
							<input type="text" placeholder="Search Posts" name="search2">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>

					<div class="single-widget protfolio-widget">
						<img class="img-fluid" src="img/blog/a2m.png" alt="">
						<a href="#">
							<h4>Ngo Sy Thang </h4>
                            <h4>Ngu Phuong Anh </h4>
						</a>
						<div class="desigmation">
							<p>Student Group P3210</p>
						</div>
						<p>
							 It’s hard enough to find an error in your code when you’re looking for it; its even harder when you’ve ASSUMED your code is ERROR-FREE.
						</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>

					<div class="single-widget popular-posts-widget">
						<h4 class="title">Feedback</h4>
						<p> Please provide your feedback below: </p>
                    	<form role="form"  action="/feedback" method="post" id="reused_form" >
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>How do you rate your overall experience?</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="bad" >
                                        Bad 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="average" >
                                        Average 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="good" >
                                        Good 
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="comments"> Comments:</label>
                                <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name"> Your Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="email"> Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-lg btn-warning btn-block" >Post </button>
                            </div>
                        </div>
                    	</form>
					</div>

					<div class="single-widget category-widget">
						<h4 class="title">Metro Maps</h4>
						<a target="_blank" href="http://www.metro.spb.ru/uploads/img/map/metro_map2018_1700x2431.jpg">
							<img src="http://www.metro.spb.ru/uploads/img/map/metro_map2018_1700x2431.jpg" alt="Metro SPB Map" style="width: 200px">
							
						</a>
					</div>


				</div>