<!-- Start header Area -->
	<header id="header">
		<div class="container box_1170 main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/news"><img src="img/logom.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="news">Home</a></li>
						<li><a href="information">Passenger Information</a></li>
						<li><a href="ticket">Ticket Service</a></li>
						<li><a href="maps">Metro Map</a></li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	